*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Roboto;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
header{
	position: relative;
	height: 2000px;
}
body{
	font-size: 16px;
}
.main {
	height: 418vh;
	background-color: #efefef;
}
.head{
	height: 550px;
	background-color: dodgerblue;
	padding-top: 100px;
	display: flex;
	background-image: url(img/dark.png);
	background-position: center;
	background-size: cover ;
	background-repeat: no-repeat;
	justify-content: space-around;
}
.say1,.say2{
	font-family: sans-serif;
	color: white;
	margin-left: 200px;
	margin-top: 50px;
	font-size: 2em;
}
.say1{
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: bold;
}
.say2{
	width: 400px;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;	
	background-color: #191970;
	height: 50px;
	position: sticky;
	top: 0px;
	z-index: 1;
}
nav p{
	font-size: 20px;
}
.button{
	color: white;
}
.content{
	width: 80%;
	height: 500px;
	background-color: #fff;
	margin: auto;
}
.button:hover{
	color: rgba(255, 228, 181, 1.0);
}
.deputat1{
	width: 790px;
	height: 100%;
}
.deputat{
	align-self: flex-end;
}
.about{
	background-color:white;
	height: 740px;
	scroll-margin-top: 3em;
	padding: 20px;
}
.program{
	background-color: #f1e4e4;
	height: 100vh;
	scroll-margin-top: 3em;
	background-color:white;
}
.initiative{
	background-color: #FFD700;
	height: 400px;
	scroll-margin-top: 3em;
}
.contacts{
	height: 840px;
	scroll-margin-top: 3em;
	background-color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}
.abo{
	width: 250%;
}
h2{
	padding: 12px 0 0 70px;
}
.about-text{
	font-size: 1.5vw;
	text-indent: 20px;
}
.about-img{
	width: 100% ;
}
.program-type{
	text-decoration: auto;
	margin: 0 0 0 30px;
	list-style-type: disc;
	padding: 6px;
}
.text-program{
	font-size: 30px;
}
.my-programs{
	padding: 10px;
}

.naprawo{
	padding: 20px 0 0 40px;
	font-size: 34px;
	font-weight: bold;
}
.home-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 100px;
	gap: 10px;
	height: 620px;
	width: 95%;
	margin: auto;
}
.galleri-image{
	height: 100%;
	width: 100%;
	position: relative;
	padding: 5px;
	transition: 1.5s;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}
	
.galleri-image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.span-1-3{
	grid-column: span 1;
	grid-row: span 3;
	background-image: url(img/me.jpg);
}
.span-2-2{
	grid-column: span 2;
	grid-row: span 4;
	background-image: url(img/m1.jpg);
}
.span-1-2{
	grid-column: span 1;
	grid-row: span 2;
	background-image: url(img/m2.jpg);
}
.span-1-1{
	grid-column: span 1;
	grid-row: span 1;
	background-image: url(img/m3.jpg);
}
.span-4-2{
	grid-column: span 4;
	grid-row: span 2;
	background-image: url(img/m5.jpg);
}
.image {
	transition: 0.2s;
}
 .image:hover{
 		transform: scale(0.3);
 }
 .gallery{
 	font-size: 2em;
 	background-color:white;
 	height: 760px;
 }
 .gal{
font-size: 38px;
margin-bottom: 20px;
background-color: white;
 }
 .social-all{
 	display: flex;
 	justify-content: center;
 }
 .social{
 	margin: 25px;
 }
 .socia{
 	text-align: center;
 }
.svyaz{
	font-size: 28px;
}
h1{
	margin-top: 40px;
	margin-bottom: 10px;
}
.adres{
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
}
.galell{
background-color: white;
}
.galleri-image:hover{
	background-size: 115%;
}
.prog{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-evenly;
}
.allbox{
	width: 20%;
	height: 20vw;
	border: 3px solid black;
	border-radius: 16px;
	padding: 20px;
}
.napraw{
 	font-size: 1.5vw;
 	font-weight: bold;
}
.allbox{
	margin: 15px 30px;
	text-align: center;
}
.picandtxt{
	display: flex;
	flex-direction: row
}
.progimg{
	width: 44%;
}